<h1><%= @user.username %>'s beat details page</h1>
<h2>Beat name: <%= @beat.name %></h2>

<h2>Associated Tags</h2>

<ul>
  <% @beat.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<a href="/beats/<%= @beat.slug %>/edit">Edit beat</a>
<br>
<br>
<a href="/beats">Go back to beats</a>
<br>
<br>
<form action="/beats/<%= @beat.slug %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Beat!">
</form>
